{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Do you really want to delete the order {{item}}?</p>
            <br>
            <form action="" method="POST">
                {% csrf_token %}
                <a href="{% url 'home' %}" class="btn btn-warning">Back</a>
                <!-- <input type="submit" name="Delete" id="delete" class="btn btn-danger"> -->
                <button type="submit" name="Delete" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}